* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: #845EC2;
  width: 100%;
  height: 100vh;
}

i {
  font-size: 30px;
  padding: 0 0.5rem;
}

span {
  font-size: 20px;
}

.containerWeatherApp {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1.5rem;
  background-color:#6C48A9;
  color: #FBEAFF;
}

.ubicationDetails {
  padding: 1rem;
}

.ubicationInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ubicationInfo h4 {
  text-align: center;
  font-weight: 700;
  padding: 1rem;
}

.fa-location-dot,
.fa-globe {
  color: rgb(175, 163, 163);
}

.nameCity {
  font-weight: 700;
  font-size: 50px;
  border-bottom: 3px solid silver;
  margin-bottom: 1rem;
  color: whitesmoke;
}

.nameCountry {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.iconAndDescription {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.iconWeather {
  width: 200px;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.information > div {
  display: flex;
}

.information i {
  font-size: 25px;
}

.information p {
  width: 100%;
  margin-bottom: 1.5rem;
}

.information span {
  font-size: 16px;
}

.buttonCtoF {
  padding: 1rem;
  border-radius: 10px;
  border-color: transparent;
  background-color: lightskyblue;
  color: white;
  transition: 0.3s;
  font-size: 16px;
}

.buttonCtoF:hover {
  background-color: lightgreen;
  color: black;
}

/* ===== SCREEN LOADER ===== */
.ScreenLoader {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScreenLoader .fa-sun {
  font-size: 70px;
  position: relative;
  animation: load 3s infinite;
  color: orange;
}

.fa-cloud {
  font-size: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: silver;
}

@keyframes load {
  0% {
    top: 0;
  }
  50% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .containerWeatherApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nameCity {
    font-size: 30px;
  }

  .nameCountry {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .fa-location-dot {
    font-size: 25px;
  }

  .fa-globe {
    font-size: 15px;
  }

  .fa-x,
  .fa-y,
  .lon,
  .lat {
    font-size: 16px;
  }

  .iconWeather {
    width: 100px;
  }

  .iconWeather ~ p {
    font-size: 18px; 
    width: fit-content;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .information {
    background: #798a9b7e;
    padding: 0.5rem;
    padding-top: 1.5rem;
  }

  .information * {
    font-size: 13px;
  }
}

/* 
quedamos en los iconos de las coordenadas
presentan un problema, posiblemente de herencia, tal vez son estilos en linea

*/
